{% extends 'base.html.twig' %}

{% block title %}Hello HelloController!{% endblock %}

{% block body %}
<h1>из шаблона Twig</h1>
<p>{{ tmp.0 }}</p>
<p>{{ tmp.1 }}</p>
<p>{{ tmp.2 }}</p>

{% endblock %}